.container{
background-color: rgb(0, 0, 0);
text-align: center;
display: flex;
justify-content: center;
align-items:center;
}

.game{

background-color: rgb(0, 0, 0);


}

.jimmy{
width: 130px;
height: 750px;
padding-right: 100px;
}

.bros{
    width: 130px;
    height: 750px;
    padding-left: 100px;
    }

